<div class="nav-bar">
    <div class="nav-logo">
        <h1 style="font-family: 'Akaya Telivigala', cursive; color:white; margin:15px 15px; font-size: 50px;">Bihashara Invest</h1>
    </div>
    <div class="nav-links">
        <ul>
            <a href="/">
                <li>HOME</li>
            </a>
            <a href="/projects">
                <li>PROJECTS</li>
            </a>
            <a href="/microInsurance">
                <li>FINANCING</li>
            </a>
            <a href="/join-us">
                <li>JOIN Us</li>
            </a>
        </ul>
        <button id="btClick" type="button" style="text-transform: uppercase;" class="btn"><%= btnTitle %></button>
    </div>
    <div>    
    </div>
    <script>

    </script>
</div>