<%- include('./includes/head.ejs') %>
    </head>
    <body>
        <div class="hero">
            <%- include('./includes/navigation.ejs') %>
            <div class="vertical-bar">
                <div class="search-icons">
                    <img class="fa" id="list" src="list.png">
                    <img class="fa" src="magnifying-glass.png">
                </div>
                <div class="social-icons">
                    <a href="https://facebook.com"><img class="fa fa-facebook" src="facebook.png"></a>
                    <a href="https://instagram.com"><img class="fa fa-instagram" src="instagram.png"></a>
                    <a href="https://twitter.com"><img class="fa fa-twitter" src="twitter.png"></a>
                </div>
            </div>
            <h1>Page Not found</h1>
        </div>
        
    </body>
