<%- include('./includes/head.ejs') %> 
    <link rel="stylesheet" href="mainpage.css">
    <link rel="stylesheet" href="join-us.css">
    <link rel="stylesheet" href="">
    <style>
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: relative;
            top: -35px;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    </head>
<body>
    <div class="hero">
        <%- include('./includes/navigation.ejs') %>
        <%- include('./includes/signupform.ejs') %>
        <div class="vertical-bar" id="vertical-bar">
            <div class="search-icons"><img class="fa" id="list" src="list.png"><img class="fa" src="magnifying-glass.png"></div>
            <div class="social-icons">
                <a href="https://facebook.com"><img class="fa fa-facebook" src="facebook.png"></a>
                <a href="https://instagram.com"><img class="fa fa-instagram" src="instagram.png"></a>
                <a href="https://twitter.com"><img class="fa fa-twitter" src="twitter.png"></a>
            </div>
        </div>
    </div>
    <script>
        //1. get the close, modal and button
        var span = document.getElementsByClassName("close")[0];
        var btn = document.getElementById("btClick");
        var modal = document.getElementById("window");
        // 2.toggle the modal window with it
        btn.onclick = function(){
            modal.style.display="block";
        }
        span.onclick = function(){
            modal.style.display="none";
        }
    </script>   
</body>